body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 24px;
  margin: 0 0 20px;
}

input[type="text"] {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #0074d9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}